/*font-family: 'Montserrat', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$montserrat_sanserif: 'Montserrat', sans-serif;
$colordark: #37383C;
$verdesito: #50E3C2;
$lila: #572EE5;