.main{
    position: relative;
    top: 110px;
}
.inspirate__ilustration{
    width: 273px;
}
.inspirate__title{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
    color: #572EE5;
    transition: .3s;
    body.darkmode &{
        color: #ffffffff;
    }
}
.inspirate__gifos{
    color:#50E3C2; 
}
.inspirate__ilustration{
    margin: 31px auto 0;
}
.ilustration__img{
    width: 100%;
}
.inspirate__searchbox{
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
}
.inspirate__input{
    width: 100%;
    border: 1px solid #572EE5;
    height: 50px;
    border-radius: 24px;
    max-width: 551px;
    padding-left: 55px;
    padding-right: 15px;
    font-size: 16px;
    z-index: 500;
    outline: none;
    font-family: $montserrat_sanserif;
    font-weight: 600;
    transition: .3s;
    body.darkmode &{
        border: 1px solid #ffffffff;
        background: $colordark;
        color: #ffffffff;
    }
}
.searchbox__cont__icon{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    max-width: 551px;
}
.searchbox__search-icon{
    padding: 15px 20px;
    z-index: 600;
    cursor: pointer;
}
.inspirate__subtitle{
    text-align: center;
    color: #572EE5;
    margin-top: 31px;
    transition: .3s;
    body.darkmode &{
        color: #ffffffff;
    }
}
.ins__subtitle__h2{
    font-size: 16px;
    font-weight: 700;
}
.paragrahp__cont{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.paragrahp__one{
    padding-right: 3px;
}
.paragrahp{
    font-size: 14px;
    padding-top: 5px;
    font-weight: 500;
}
.divider{
    width: 20%;
    background-color: #9cafc3;
    height: 1px;
    margin: 50px auto;

}
.title__result{
    text-align: center;
    font-size: 35px;
    font-family: $montserrat_sanserif;
    font-weight: 700;
    color: #572EE5;
    margin-bottom: 60px;
    transition: .3s;
    body.darkmode &{
        color: #ffffffff;
    }
}
.content__result{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}
.inspirate__result .sprite-container{
    height: 200px;
    width: 260px;
    position: relative;
    margin: 0 auto;
}
.inspirate__result .capa{
    width: 100%;
}
.inspirate__result .contenido{
    width: 100%;
    min-width: 200px;
    height: 100%;
}
.inspirate--button{
    display: block;
    width: 127px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid #572EE5;
    background: none;
    margin: 80px auto; 
    body.darkmode &{
        border: 2px solid white;
    }
}
.inspirate--button .button--a{
    color: #572ee5;
    text-decoration: none;
    background: none;
    display: block;
    width: 100%;
    line-height: 25px;
    font-family: $montserrat_sanserif;
    font-weight: 700;
    cursor: pointer;
    body.darkmode &{
        color: #ffffffff;
    }
}
@media(max-width: 1150px){
    .content__result{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media(max-width: 960px){
    .content__result{
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width: 640px){
    .content__result{
        width: 90%;
    }
}
@media(max-width: 640px){
    .content__result{
        grid-template-columns: 1fr;
    }
}
@media (min-width: 640px){

    .inspirate__title{
        width: 600px;
        padding-top: 75px;
    }
    .inspirate__ilustration{
        width: 400px;
    }
    .ins__subtitle__h2{
        font-size: 18px;
    }
    .paragrahp{
        font-size: 16px;
    }
}